 # any generated dictionaries
.npy
.txt
# any new images
.nii.gz
.nii
.pyc
*.pyc
coreSimulations/functions/.DS_Store
dictionaries/.DS_Store
.DS_Store
*.npy
.DS_Store
.DS_Store
coreSimulations/.DS_Store
*.pyc
